html,
body {
  height: 100%;
  margin : 20px;
}

body {
  background-color: rgb(127, 209, 141);
}

#infodump
{
  background-color: aquamarine;
  margin-top:20px;
  max-width: 1500px;
  
}
h2
{
  color:antiquewhite;
}
img{
  height:200px;
  width:200px;
}

